.colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
}
.color {
    border: 1px solid black;
    transition: all 1s ease-in-out;
    width: 200px;
    height: 200px;
}

.color:hover {
     width: 310px;
     height: 310px;
}

.color1{
    background: rgb(230, 80, 80);
}
.color2 {
    background: rgb(233, 179, 80);
}
.color3 {
    background: rgb(214, 105, 66);
}
.color4 {
    background: rgb(212, 212, 37);
}
.color5 {
    background: rgb(108, 150, 25);
}
.color6 {
    background: rgb(12, 129, 12);
}
.color7 {
    background: rgb(33, 33, 151);
}
.color8 {
    background: rgb(144, 9, 161);
}

@media (max-width:1199.98px) {
    .colors {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width:767.98px) {
    .colors {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .color {
        width: 250px;
        height: 250px;
    }
}

@media (max-width:521px) {
    .colors {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
    }

    .color {
        width: 300px;
        height: 300px;
    }
}
